.quail_api-results-description {
  margin-bottom: 10px;
}

.quail_api-test-description {
  padding: 10px;
  margin: 5px;

  background-color: #fffec6;
  border: 1px dotted;
}

.quail_api-problem-line {
  margin-top: 10px;
  font-weight: bold;
}

.quail_api-problem-description {
  padding: 10px;
  margin: 5px;

  background-color: #ffe1e6;
  border: 1px dotted;
}

.quail_api-test-note-title {
  font-weight: bold;
}

.quail_api-test-note-text {
  padding: 10px;
  margin: 5px;

  background-color: #ffefe1;
  border: 1px dotted;
}
